service cloud.firestore {
   match /databases/{database}/documents {
      match /{document=**} {
         allow read, write: if request.auth != null && math.floor(request.time.day()) == 2;
      }
   }
}

// Check if the request is authenticated
function isAuthenticated(param) {
   return request.auth != null;
}
