service cloud.firestore {
   // a comment
   match /databases/{database}/documents {
      match /{document=**} {
         allow read, write: if true;
      }
   }
}